body {
  height: 100vh;
  display: grid;
  justify-content: center;
  align-items: center;
}
.app {
  width: 10em;
  padding: 1em;
}
.container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.i-phone1415-pro-max4 {
  width: 100%;
  height: 932px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 1);
}
.text {
  top: 81px;
  left: 135px;
  color: rgba(0, 146, 228, 1);
  width: 222px;
  height: auto;
  position: absolute;
  font-size: 40px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
  font-style: Regular;
  text-align: left;
  font-family: Joti One;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.rectangle3 {
  top: 228px;
  left: 33px;
  width: 110px;
  height: 113px;
  position: absolute;
  border-radius: 12px;
}
.rectangle4 {
  top: 364px;
  left: 286px;
  width: 110px;
  height: 113px;
  position: absolute;
  border-radius: 12px;
}
.rectangle5 {
  top: 364px;
  left: 160px;
  width: 110px;
  height: 113px;
  position: absolute;
  border-radius: 12px;
}
.rectangle6 {
  top: 364px;
  left: 34px;
  width: 110px;
  height: 113px;
  position: absolute;
  border-radius: 12px;
}
.rectangle7 {
  top: 228px;
  left: 286px;
  width: 110px;
  height: 113px;
  position: absolute;
  border-radius: 12px;
}
.httpslottiefilescomanimationscrossseb-divx-lk-m {
  top: 234px;
  left: 33px;
  width: 110px;
  height: 100px;
  position: absolute;
}
.rectangle8 {
  top: 228px;
  left: 160px;
  width: 110px;
  height: 113px;
  position: absolute;
  border-radius: 12px;
}
.httpslottiefilescomanimationssnakeladderloadingani {
  top: 234px;
  left: 168px;
  width: 94px;
  height: 100px;
  position: absolute;
}
.materialsymbolsclose {
  top: 52px;
  left: 0px;
  width: 112px;
  height: 108px;
  position: absolute;
}
